workflow/Invoice_n8n.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -4352,
        992
      ],
      "id": "8437ec01-8381-4ccb-a9e5-797edf0d495c",
      "name": "When chat message received",
      "webhookId": "a0709d74-3f31-4a2f-b04d-5b7974f1d785"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4016,
        880
      ],
      "id": "ed219bec-bc74-49c0-9582-68281c27a8ec",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4128,
        1104
      ],
      "id": "96e800fe-1692-4117-a846-d116b8bc1e5a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xkYasjwXz5mOTmq9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -3872,
        1104
      ],
      "id": "b6c53903-ea29-42ed-b1d7-a1a5dae10d92",
      "name": "Date & Time1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4000,
        1104
      ],
      "id": "93dee608-79c8-4fe9-bc33-121bd1d17197",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -3744,
        1104
      ],
      "id": "3f894bb1-f1a0-4403-b7eb-a1e1c434772f",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "89mszS0tJE9JsIaX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3904,
        2032
      ],
      "id": "59d8b5c0-fce4-42fe-9b83-3d6334da0821",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "89mszS0tJE9JsIaX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rows }}",
        "options": {
          "systemMessage": "You are a professional invoice analyst. Based on the google sheet data in this week. \n\nYou much check the previous week summery , if not mention taht \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3232,
        2032
      ],
      "id": "fadb2a93-0ec9-4188-ad67-75f029d7b7be",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3232,
        2256
      ],
      "id": "97a55918-e92e-4fef-971b-3895171e67b0",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "xkYasjwXz5mOTmq9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576430187,
          "mode": "list",
          "cachedResultName": "Week Summery",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit#gid=1576430187"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -3104,
        2256
      ],
      "id": "9f8d277c-72b3-48e0-949f-b19af5b34ce6",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "89mszS0tJE9JsIaX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(item => item.json);\n\nreturn [\n  {\n    json: {\n      rows\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3456,
        2032
      ],
      "id": "c726a657-23af-4829-bf03-9564b6b5cc69",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576430187,
          "mode": "list",
          "cachedResultName": "Week Summery",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit#gid=1576430187"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Week": "=={{ \n  \"DATE(\" +\n  $('Get current time').first().json.week_start.split('-')[0] + \",\" +\n  $('Get current time').first().json.week_start.split('-')[1] + \",\" +\n  $('Get current time').first().json.week_start.split('-')[2] +\n  \")\"\n}}\n",
            "Summery": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Summery"
          ],
          "schema": [
            {
              "id": "Week",
              "displayName": "Week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summery",
              "displayName": "Summery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2880,
        2032
      ],
      "id": "6584d0cd-3abf-4b3c-9667-225e27e4ed53",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "89mszS0tJE9JsIaX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -4352,
        1408
      ],
      "id": "6852401d-7b5e-4258-8edf-77e300f3ee86",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "brwNjF3T3m7OnalI",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\n// Loop over every email (usually just one)\nfor (const item of $input.all()) {\n  // Get all binary keys (attachment_0, attachment_1, etc.)\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      // Create a new item for EACH attachment\n      newItems.push({\n        json: {\n          // Keep original email data (subject, from, etc.)\n          ...item.json, \n          // Add the specific filename for reference\n          fileName: item.binary[key].fileName \n        },\n        binary: {\n          // IMPORTANT: Rename every attachment to 'data'\n          // This allows the Google Drive node to just look for 'data' every time\n          data: item.binary[key] \n        }\n      });\n    }\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4128,
        1408
      ],
      "id": "5aa3413b-7b7f-4e07-b331-c599be16a383",
      "name": "Extract PDF files1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3904,
        1504
      ],
      "id": "f3e4271f-f682-4409-b963-324fa10b6669",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=PDF file content: {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant. From the given pdf file text, fill the \n- timestamp (processed time in utah tiemzone) \n- vender name, \n- Invoice date,\n- Invoice Number, \n- Total amount,\n- Line items \n\nand do not use $ or any metrics for number, use just number for price, qunaitty and rate\nreturn the result by json format"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3680,
        1504
      ],
      "id": "0643b6a1-2683-4cb1-bdee-a90e7baa6b38",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3680,
        1728
      ],
      "id": "cd418249-e50d-4250-9a41-2f380b9fd024",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "xkYasjwXz5mOTmq9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -3552,
        1728
      ],
      "id": "48a9c7bb-e5ec-42b1-8d18-ebc0bdc5b117",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "jsCode": "// Extract raw AI output\nlet raw = $json.output;\n\n// Ensure raw is a string\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\n// Clean string\nraw = raw.trim();\n\n// Parse JSON safely\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (err) {\n  throw new Error(\n    \"❌ Could not parse AI Agent output.\\n\\nRAW OUTPUT:\\n\" +\n    raw +\n    \"\\n\\nERROR:\\n\" +\n    err.message\n  );\n}\n\n// Prepare rows array\nconst rows = [];\n\n// Extract line items\nconst items = Array.isArray(data.line_items) ? data.line_items : [];\n\n// Build one row per line item\nitems.forEach(li => {\n  rows.push({\n    json: {\n      timestamp: data.timestamp || \"\",\n      vendor_name: data.vendor_name || \"\",\n      invoice_date: data.invoice_date || \"\",\n      invoice_number: data.invoice_number || \"\",\n      total_amount: data.total_amount || \"\",\n\n      // FIXED FIELDS (match the AI output)\n      item: li.description || \"\",\n      quantity: li.quantity || \"\",\n      unit_price: li.rate || \"\",\n      amount: li.amount || \"\"\n    }\n  });\n});\n\nreturn rows;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        1504
      ],
      "id": "f98b9650-5da2-4457-84e0-e755f66a418a",
      "name": "Parse ai response"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dmhzfyu7kFimHfExT4KoxTT3qCZQIDDdKf7SrCwdvZs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Invoce Number",
              "lookupValue": "="
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3104,
        1504
      ],
      "id": "11c5cf0f-9df3-417e-a9fe-813a4052543c",
      "name": "Check duplicates",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "89mszS0tJE9JsIaX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e84a85a-cb69-4216-a78c-a58f57c8588d",
              "leftValue": "={{ $json[\"Check duplicates\"] }}",
              "rightValue": "Is Empty",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        1504
      ],
      "id": "574977d4-41cd-4e57-9f06-73471957191d",
      "name": "Duplicate invocations1",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "978c1e34-9b5b-4e99-873d-37dbe51ed041",
              "leftValue": "={{ JSON.parse($('AI Agent3').first().json.output).total_amount }}\n",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2656,
        1600
      ],
      "id": "22ca2a02-2066-4d87-ba19-27db6dfb4629",
      "name": "Invoice total is over $10000"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cHSDFxpgxowUJxQyVU_a6d5hPmIb2I6j54WUUHg-VCM",
          "mode": "list",
          "cachedResultName": "Invoice_demo_db",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHSDFxpgxowUJxQyVU_a6d5hPmIb2I6j54WUUHg-VCM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHSDFxpgxowUJxQyVU_a6d5hPmIb2I6j54WUUHg-VCM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unit_price",
              "displayName": "unit_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2208,
        1600
      ],
      "id": "52801467-f41a-426a-8075-b6b11f776049",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "89mszS0tJE9JsIaX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3904,
        1312
      ],
      "id": "9af7c387-70ef-4cd7-a88e-2ff6b4696ed9",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ts5NGSa02SqMdQdc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Load AI Agent3 output safely\nconst ai = $('AI Agent3').first().json;\n\n// Raw JSON string from the agent\nlet raw = ai.output;\n\n// Ensure raw is a string\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw.trim();\n\n// Parse JSON\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (err) {\n  throw new Error(\n    \"❌ Could not parse AI Agent output.\\n\\nRAW OUTPUT:\\n\" +\n    raw +\n    \"\\n\\nERROR:\\n\" +\n    err.message\n  );\n}\n\n// Prepare final rows\nconst rows = [];\nconst items = Array.isArray(data.line_items) ? data.line_items : [];\n\n// Build one row per line item\nitems.forEach(li => {\n  rows.push({\n    json: {\n      timestamp: data.timestamp || \"\",\n      vendor_name: data.vendor_name || \"\",\n      invoice_date: data.invoice_date || \"\",\n      invoice_number: data.invoice_number || \"\",\n      total_amount: data.total_amount || \"\",\n\n      item: li.description || \"\",\n      quantity: li.quantity || \"\",\n      unit_price: li.rate || \"\",\n      amount: li.amount || \"\"\n    }\n  });\n});\n\nreturn rows;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        1696
      ],
      "id": "a33c7461-3508-42b7-9929-23723670fd5b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Check this invoice",
        "formDescription": "=Invoice number: {{ JSON.parse($('AI Agent3').first().json.output).invoice_number }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "This invoice is valid",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2432,
        1504
      ],
      "id": "7ddbdce9-e43c-416d-b9ff-7d25021fdaaf",
      "name": "Wait",
      "webhookId": "36e753d8-2805-436a-86a7-2ad707efaf89"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#invoice-demo",
          "mode": "name"
        },
        "text": "aaa",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2656,
        1408
      ],
      "id": "df5ed848-35c8-4a6c-807a-2a0d8e0eab28",
      "name": "Send a message",
      "webhookId": "12196a07-ae51-497b-938c-266a95c632ad",
      "credentials": {
        "slackApi": {
          "id": "gGlSQwsfMzrvaMLf",
          "name": "Slack account 8"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4352,
        2032
      ],
      "id": "92440b97-d5d4-4873-a23c-e991a97ec3cd",
      "name": "Weekly summary"
    },
    {
      "parameters": {
        "jsCode": "// Get today's date\nconst today = new Date();\n\n// Clone the date to compute week boundaries\nconst startOfWeek = new Date(today);\nconst endOfWeek = new Date(today);\n\n// In JavaScript, getDay(): Sun=0, Mon=1, ... Sat=6\n// Adjust so Monday is start of week\nconst day = today.getDay();\nconst diffToMonday = (day === 0 ? -6 : 1 - day); // if Sunday (0), go back 6 days\n\n// Set start of week (Monday)\nstartOfWeek.setDate(today.getDate() + diffToMonday);\n\n// Set end of week (Sunday)\nendOfWeek.setDate(startOfWeek.getDate() + 6);\n\n// Helper function to format YYYY-MM-DD\nfunction formatDate(d) {\n  return d.toISOString().split('T')[0];\n}\n\nreturn [\n  {\n    json: {\n      today: formatDate(today),\n      week_start: formatDate(startOfWeek),\n      week_end: formatDate(endOfWeek),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4128,
        2032
      ],
      "id": "d3064b20-a774-4c19-bc5e-139fde7106b2",
      "name": "Get current time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9759a6b5-06eb-404f-957a-0f801d18f1e1",
              "leftValue": "={{ $json.Timestamp }}",
              "rightValue": "={{ $('Get current time').item.json.week_start }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "4b198d0a-7b81-4b79-9da2-fb7f4ef585ae",
              "leftValue": "={{ $json.Timestamp }}",
              "rightValue": "={{ $('Get current time').item.json.week_end }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3680,
        2032
      ],
      "id": "aeefee5d-7783-4811-96cf-148646b71e6c",
      "name": "get week data"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#invoice-demo",
          "mode": "name"
        },
        "text": "=This is a weekly summery: \n{{ $json.Summery }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2656,
        2032
      ],
      "id": "5ae07305-d8ae-4036-842d-b449210f8f4c",
      "name": "Send a weekly summary",
      "webhookId": "a93f2374-a3f9-4dbf-9827-9375846e1c09",
      "credentials": {
        "slackApi": {
          "id": "gGlSQwsfMzrvaMLf",
          "name": "Slack account 8"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "get week data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a weekly summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Extract PDF files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF files1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Parse ai response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse ai response": {
      "main": [
        [
          {
            "node": "Check duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicates": {
      "main": [
        [
          {
            "node": "Duplicate invocations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate invocations1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoice total is over $10000",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice total is over $10000": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly summary": {
      "main": [
        [
          {
            "node": "Get current time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current time": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get week data": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "310281d01354618793cfe1a60325509f0feb34482da66d71012639b59723cc5f"
  }
}